/Abgabe_Aufgaben_Nils_Preter.zip
/applications.html
/ArchitekturAufgaben
/Aufgaben_Tag1
/Beispielsaufgaben_Tag1
/bitnami.css
/dashboard
/favicon.ico
/img
/index.php
/M133_LB1_Preter.zip
/node_modules
/package-lock.json
/package.json
/Prüfung_LB1
/TowerDefence
/TowerDefence.zip
/webalizer
/xampp